@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Serif', sans-serif;
  background: url(/images/nasa-jlV2k_Fx0fc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #000;
  padding: 16px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: #808080;
}

.container {
  max-width: 800px;
  height: 250px;
  margin: 150px auto 0 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rbga(0, 0, 0, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px #000000;
}

#timer {
  font-size: 4.8rem;
  width: 100%;
  text-align: center;
}

.buttons {
  text-align: center;
}

button {
  margin: 20px 10px;
  border: none;
  border-radius: 5px;
}

button i {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  color: #fff;
}

#start-pause-btn {
  background: #00b894;
}

#pause {
  background: #ff8c00;
  border-radius: 5px;
}

#reset-btn {
  background: #ff3e00;
}
